node_modules
_build
_static
_templates

.DS_Store

# Compiled contract ABIs and binaries
build/contracts/*
.env
contracts/artifacts/ENS_metadata.json
contracts/artifacts/ENS.json
contracts/artifacts/ENSRegistry_metadata.json
contracts/artifacts/ENSRegistry.json
contracts/artifacts/FIFSRegistrar_metadata.json
contracts/artifacts/FIFSRegistrar.json
